html {
    box-sizing: border-box;
}

.jumbotron {
    background-image: url("../assets/backgrounds/hero.jpg");
    height: 800px;
}

.jumbotron-fluid {
    height: 100px;
    padding-top: 50px;
    background-color: #8a8a5c;
}

.about {
    background-image: url("../assets/backgrounds/about.jpg");
    height: 400px;
    padding-top: 30px;
}

.aboutus {
    border-style: solid;
    padding: 50px;
    text-align: center;
    padding: 100px;
    color: white;
    border-color: rgba(205, 228, 4, 0.507);
    text-decoration-line: initial;
}

.there {
    color: white;
    background-color: rgb(4, 46, 46);
}

.footer {
    padding-top: 30px;
    background-color: rgb(2, 27, 27);
    color: white;
    font-size: small;
}

.pictures {
    padding: 50px;
}

.social {
    padding-top: 30px;
}