html {
    box-sizing: border-box;
}

.jumbotron {
    background-image: url("../assets/backgrounds/hero.jpg");
    height: 800px;
}

.jumbotron-fluid {
    height: 100px;
    padding-top: 50px;
    background-color: #8a8a5c;
}

.about {
    background-image: url("../assets/backgrounds/about.jpg");
    height: 400px;
    padding-top: 150px;
    padding: 80px;
}

.aboutus {
    padding: 50px;
    text-align: center;
    padding: 60px;
    color: white;
    border-style: inset;
}

.there {
    color: white;
    background-color: rgb(4, 46, 46);
    padding-top: 50px;
}

.footer {
    padding-top: 30px;
    background-color: rgb(2, 27, 27);
    color: white;
    font-size: small;
    padding-top: 50px;
    margin-top: 50px;
}

.pictures img {
    padding: 50px;
    background-color: grey;
}

.pictures {
    padding: 100px;
}

.social {
    padding-top: 30px;
}