html {
    box-sizing: border-box;
}

.jumbotron {
    background-image: url("../assets/backgrounds/hero.jpg");
    height: 800px;
}

.jumbotron-fluid {
    height: 100px;
    padding-top: 50px;
}

.about {
    background-image: url("../assets/backgrounds/about.jpg");
    height: 400px;
}

.aboutus {
    border-style: solid;
    border-color: lightyellow;
    padding: 50px;
    text-align: center;
    padding: 100px;
}